p, h4 {
        display: inline;
        margin-left:3em;
 }
 .pushList {
         margin-left:5em;
 }
 ul.regList {
         display:inline;
 }
  ul.nav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 li.nav {
     float: left;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 li a:hover {
     background-color: #111;
 }

.experience p {
        font-style: italic;
}
.activities p {
        font-style: italic;
}

.tufts:after {
        content: '\A';
        white-space:pre;
}
.skills h3 {
        margin-top: -10px;
}

.header, .bio, .index {
        text-align: center;
}
body {
    font-family: "Garamond", serif
}
.home p {
        text-align:center;
}

.about {
        padding-left: 300px;
        padding-right: 300px;
}
.link {
        text-decoration: none;
}

.header {
        background: #ffffff;
}
