p, h4 {
        display: inline;
        margin-left:3em;
 }
 li {
         margin-left:5em;
 }
 ul {
         display:inline;
 }
.experience p {
        font-style: italic;
}
.activities p {
        font-style: italic;
}

.education #tab{
        float: right;

}
.experience #tab{
        float: right;
        font-style:normal;
}
.activities #tab{
        float: right;
        font-style:normal;
}

.tufts:after {
        content: '\A';
        white-space:pre;
}
.skills h3 {
        margin-top: -10px;
}

.header, .bio, .index {
        text-align: center;
}
body {
    background-color: lightblue;
    font-family: "Garamond", serif
}
